/*headBox.css*/
@charset "UTF-8";

#headBox{width: 100%; height: 60px; background-image:url("../../../img/all/header/nar.png");
	background-repeat: no-repeat; background-position: 170px 10px; position:relative; z-index: 300;}
h1{width: 150px; height: 60px; float:left;}
h1>a{width: 100%; height: 100%; display:block;
	background-image:url("../../../img/all/header/logo.png");
	background-repeat: no-repeat; background-position:center center;} 
#lnb{width: 146px; height: 40px; float:right; margin: 10px 40px;
	background-color: #ddd;}
#lnb>.lnb_a{width: inherit; height: 20px; box-sizing:border-box; padding-left:38px;
	padding-bottom: 4px; float:left;}
	#lnb [type="search"]{width: 126px; height: 20px; float:left;}
	#lnb [type="submit"]{width: 20px; height: 20px; float:left; 
		background-image:url("../../../img/all/header/search_btn.png");}
#gnb{width: 800px;  height: 30px; right: 10px; background-color: #fff;
	border-bottom: 1px solid #5f5f5f; position:absolute; bottom:-30px;}