/*form_login_04_01.css*/
@charset "UTF-8";

.join_box{width: 768px; height: auto; margin:0 auto; background-color: #ccc;
	padding:15px 20px;}
/*h2-----------------------------------------*/
h2{width: 100%; height: 76px; margin-bottom:36px; background-color: #8ecbc6;
	color:#fff; }
h2>i{width: 80px; height: 56px; padding-top:20px; display:inline-block; 
	background-color:#313131; text-align:center; position:relative; float:left;}
h2>i:before{color:#aaa; font-size:2rem;}
h2>i:after{content:"SIGN UP"; color:#aaa; width: 100%; display:block; 
	font-size:.5rem; position:absolute; bottom:16px; left:50%; margin-left:-40px; }
h2>span{display:inline-block; padding-top:3rem; float:left;}
/*form---------------------------------------*/

/* form:after{content:""; display:block; clear:both;} */
form{width: 100%; height: auto;}
fieldset{width: 744px; height:auto; border:1px solid #d6d6d6; 
	background-color:#f8f8f8; padding:15px 12px; margin-bottom:14px;}
fieldset>legend{width: 0; height: 0; overflow:hidden;}

.join ul{}
.join_read{width: 166px; height:auto; float:left; background-color:#850;}
.join_write{width: 574px; height:auto; float:right; background-color:#580;}
.join ul>li{width: 100%; min-height:28px; height:auto; margin-bottom: 8px;}
.join ul>li>label{font-size:0.8rem; letter-spacing: -0.05rem;}
.join ul>li.point>label:before{content:"*"; color:#F67342;}

.join_write select,
.join_write input{width: 204px; height: 28px; background-color:#fff;
	display:block; margin-bottom:8px;}


/*-------------------------------------------------------------------*/

fieldset.send_btn{width: 190px; height: 30px; float:right; margin-bottom:0;}
#joinSend{width: 90px; height: 30px; background-color:#F67342; color:#fff;
	float:left;}
#joinReset{width: 90px; height: 30px; background-color:#fff; color:#313131;
	float:right;}

textarea{width: 100%; height: 184px; overflow-y:scroll; background-color:transparent;
	margin-bottom:1px;}
fieldset>hr{border:0; border-bottom:1px dotted #333;}
#termCheck{width: 16px; height: 16px;}
[for="termCheck"]{color:#F0520F;}

