/*#header--------------------------------------*/
#header{width:850px; height:70px; padding:40px 55px; background-color:#aaa;}
h1{width:200px; height:70px; background-color:#fff; float:left;}
.gnb{width:600px; height:40px; background-color:#fff; float:right; margin-top:15px;}